@model Sistema_MVC_Ticona.Models.Documento
@{
    ViewBag.Title = (Model.documento_id > 0 ? Model.nombre : "Nuevo registro");
    List<Sistema_MVC_Ticona.Models.Categoria> categoria = (List<Sistema_MVC_Ticona.Models.Categoria>)ViewBag.Categoria;
}

<h2>AgregarEditar</h2>

<ol class="breadcrumb">
    <li><a href="~/Documento">Documento</a></li>
    <li class="active">@(Model.documento_id > 0 ? Model.nombre : "Nuevo resgistro")</li>
</ol>
@using (Html.BeginForm("Guardar", "Documento", FormMethod.Post, new { id = "frm-documento" }))
{
    @Html.HiddenFor(x => x.documento_id)
    <div class="panel panel-default">
        <div class="panel-heading">Informacion de la Documento</div>
        <div class="panel-body">
            <div class="form-group">
                @Html.Label("Id:")
                @Html.TextBoxFor(x => x.documento_id, new { @class = "form-control", disabled = true })
            </div>
            <div class="form-group">
                @Html.Label("ID Categoria:")
                <select name="categoria_id" class="form-control">
                    <option @(Model.categoria_id.Equals("") ? "Selected" : "") value="">-Seleccione-</option>
                    @foreach (var c in categoria)
                    {
                        <option @(Model.categoria_id.Equals(c.categoria_id) ? "Selected" : "") value="@c.categoria_id" class="">@c.nombre</option>
                        @Html.ValidationMessageFor(x => x.categoria_id, null, new { @class = "label label-danger" })
                    }
                </select>
                @Html.ValidationMessageFor(x => x.categoria_id, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Nombre:")
                @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.nombre, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Descripción:")
                @Html.TextBoxFor(x => x.descripcion, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.descripcion, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Extensión:")
                @Html.TextBoxFor(x => x.extension, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.extension, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Tamaño:")
                @Html.TextBoxFor(x => x.tamanio, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.tamanio, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Tipo:")
                <select name="tipo" class="form-control">
                    <option @(Model.tipo == "" ? "Selected" : "") value="">-Seleccione-</option>
                    <option @(Model.tipo == "Documento" ? "Selected" : "") value="Documento">Documento</option>
                    @Html.ValidationMessageFor(x => x.tipo, null, new { @class = "label label-danger" })
                </select>
            </div>
            <div class="form-group">
                @Html.Label("Estado:")
                <br />
                @Html.RadioButtonFor(x => x.estado, "A")<span> Activo</span>
                @Html.RadioButtonFor(x => x.estado, "I")<span> Inactivo</span>
                @Html.ValidationMessageFor(x => x.estado, null, new { @class = "label label-danger" })
            </div>

        </div>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-primary">Grabar</button>
        <a href="~/Documento" class="btn btn-danger">Cancelar</a>
    </div>
}