@model Sistema_MVC_Ticona.Models.Persona
@{
    ViewBag.Title = "Ver";
}

<h2>Ver</h2>
<ol class="breadcrumb">
    <li><a href="~/Persona/Index">Persona</a></li>
    <li class="active">@Model.nombre</li>
</ol>

<div class="panel panel_default">
    <div class="panel-heading">
        Informacion de la Persona
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>ID</dt>
            <dd>@Model.persona_id</dd>
            <dt>Nombre</dt>
            <dd>@Model.nombre</dd>
            <dt>Apellido</dt>
            <dd>@Model.apellido</dd>
            <dt>E-mail</dt>
            <dd>@Model.email</dd>
            <dt>Estado</dt>
            <dd>@(Model.estado == ("A") ? "Activo" : "Inactivo")</dd>
        </dl>
    </div>
</div>

