@model Sistema_MVC_Ticona.Models.Categoria
@{
    ViewBag.Title = (Model.categoria_id > 0 ? Model.nombre : "Nuevo registro");
}

<h2>AgregarEditar</h2>

<ol class="breadcrumb">
    <li><a href="~/Categoria">Categoria</a></li>
    <li class="active">@((Model.categoria_id)>0 ? Model.nombre : "Nuevo resgistro")</li>
</ol>
@using (Html.BeginForm("Guardar", "Categoria", FormMethod.Post, new { @id = "frm-categoria" }))
{
    @Html.HiddenFor(x=>x.categoria_id)
    <div class="panel panel-default">
        <div class="panel-heading">Informacion de la categoria</div>
        <div class="panel-body">
            <div class="form-group">
                @Html.Label("Id:")
                @Html.TextBoxFor(x => x.categoria_id, new { @class="form-control" , disabled= true})
            </div>
            <div class="form-group">
                @Html.Label("Categoria:")
                @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(x=>x.nombre, null, new { @class="label label-danger"})
            </div>
            <div class="form-group">
                @Html.Label("Descripcion:")
                @Html.TextBoxFor(x => x.descripcion, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.descripcion, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Estado:")
                <br />
                @Html.RadioButtonFor(x => x.estado, "A")<span> Activo</span>
                @Html.RadioButtonFor(x => x.estado, "I")<span> Inactivo</span>
                @Html.ValidationMessageFor(x => x.estado, null, new { @class = "label label-danger" })
            </div>
        </div>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-primary">Grabar</button>
        <a href="~/Categoria" class="btn btn-danger">Cancelar</a>
    </div>
}