@model Sistema_MVC_Ticona.Models.Usuario
@{
    ViewBag.Title = (Model.usuario_id > 0 ? Model.usuario1 : "Nuevo registro");
    List<Sistema_MVC_Ticona.Models.Persona> persona;
    persona = ViewBag.Persona;
}

<h2>AgregarEditar</h2>

<ol class="breadcrumb">
    <li><a href="~/Usuario">Usuario</a></li>
    <li class="active">@(Model.usuario_id > 0 ? Model.usuario1 : "Nuevo resgistro")</li>
</ol>
@using (Html.BeginForm("Guardar", "Usuario", FormMethod.Post, new { id = "frm-usuario" }))
{
    @Html.HiddenFor(x => x.usuario_id)
    <div class="panel panel-default">
        <div class="panel-heading">Informacion de la Usuario</div>
        <div class="panel-body">
            <div class="form-group">
                @Html.Label("Id:")
                @Html.TextBoxFor(x => x.usuario_id, new { @class = "form-control", disabled = true })
            </div>
            <div class="form-group">
                @Html.Label("ID Persona:")
                <select name="persona_id" class="form-control">
                    <option @(Model.persona_id.Equals("") ? "Selected" : "") value="">-Seleccione-</option>
                    @foreach (var p in persona)
                    {
                        <option @(Model.persona_id.Equals(p.persona_id) ? "Selected" : "") value="@p.persona_id">@p.apellido, @p.nombre</option>
                        @Html.ValidationMessageFor(x => x.persona_id, null, new { @class = "label label-danger" })
                    }
                    
                </select>
            </div>
            <div class="form-group">
                @Html.Label("Usuario:")
                @Html.TextBoxFor(x => x.usuario1, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.usuario1, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Clave:")
                @Html.TextBoxFor(x => x.clave, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.clave, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Nivel:")
                <select name="nivel" class="form-control">
                    <option @(Model.nivel == "" ? "Selected" : "") value="">-Seleccione-</option>
                    <option @(Model.nivel == "Administrador" ? "Selected" : "") value="Administrador">Administrador</option>
                    <option @(Model.nivel == "Supervisor" ? "Selected" : "") value="Supervisor">Supervisor</option>
                    <option @(Model.nivel == "Usuario" ? "Selected" : "") value="Usuario">Usuario</option>
                    @Html.ValidationMessageFor(x => x.nivel, null, new { @class = "label label-danger" })
                </select>
            </div>
            <div class="form-group">
                @Html.Label("Estado:")
                <br />
                @Html.RadioButtonFor(x => x.estado, "A")<span> Activo</span>
                @Html.RadioButtonFor(x => x.estado, "I")<span> Inactivo</span>
                @Html.ValidationMessageFor(x => x.estado, null, new { @class = "label label-danger" })
            </div>

        </div>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-primary">Grabar</button>
        <a href="~/Usuario" class="btn btn-danger">Cancelar</a>
    </div>
}

